* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 100vh;
}

:root {
    --main-text-color: #3F3D56;
    --highlight-color: #EE24FF;
    --text-color: #828282;
    --border-color: #ECEFF2;
}

#hero {
    width: 540px;
    margin: 0 auto 72px;
}

#hero img { 
    margin-bottom: 32px;
    margin-top: 64px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 16px;
}

h1 span {
    font-weight: bold;
    color: var(--highlight-color);
}

strong, a {
    color: var(--main-text-color);
}

p, #footer {
    color: var(--text-color);
    font-size: 15px;
    line-height: 22px;
}

#footer a {
    font-weight: bold;
    text-decoration: none;
}

#footer a + a {
    margin-left: 42px;
}

.line {
   width: 568px;
   height: 0;
   margin: 0 auto 16px;
   border: 1px solid var(--border-color); 
}

#wave-decoration {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}